{% extends "layout.html" %}

{% block meta %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/layout/navbar/navbar-horizontal.css">
    <link rel="stylesheet" href="/static/css/components/chat/vg-conversation-form.css">
    <link rel="stylesheet" href="/static/css/components/chat/vg-message.css">
    <link rel="stylesheet" href="/static/css/components/chat/vg-conversation-list.css">
{% endblock %}

{% block container %}
    {% raw %}
        <vg-conversation-list></vg-conversation-list>
    {% endraw %}
{% endblock %}
