aiohttp==3.10.11
aiohttp-cors==0.7.0
aiohttp-jinja2==1.2.0
aiohttp-sse==2.0.0
async-timeout==3.0.1
attrs==19.3.0
chardet==3.0.4
click==7.1.2
idna==3.7
idna-ssl==1.1.0
Jinja2==3.1.5
joblib==1.2.0
MarkupSafe==1.1.1
multidict==4.7.4
#nltk==3.6.5
#pkg-resources==0.0.0
regex==2020.11.13
tqdm==4.66.3
typing-extensions==3.7.4.1
yarl==1.4.2
