<nav class="navbar navbar-expand-sm p-1">
    <div class="flex-row-reverse mr-0">
        <ul class="nav navbar-nav flex-row d-flex justify-content-around">
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span>
                        <i class="ri-search-2-line"></i>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span>
                        <i class="ri-notification-3-line"></i>
                        {# <div class="spinner4 spinner-4"></div> #}
                        {# <div class="ntd-ctn"><span>3</span></div> #}
                    </span>
                </a>
            </li>
            <li class="nav-item nc-al">
                <a href="#" class="nav-link">
                    <span>
                        <i class="ri-phone-line"></i>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span>
                        <i class="ri-vidicon-2-line"></i>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span>
                        <i class="ri-settings-3-line"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</nav>
