#vg-attachment {
    color: #7269ef;
    margin-right: .4rem;
    background-color: #fff;
    border-radius: 0 .3rem .3rem 0;
    border-top: 1px solid #ebe9f1;
    border-bottom: 1px solid #ebe9f1;
    border-right: 1px solid #ebe9f1;
}
